
*.obj
*.exe
/.vs
/enc_temp_folder
/external/libvorbis
/external/ogg-master
/obj
*.log
*.tlog
*.pdb
*.recipe
*.iobj
x64/Release/PhloxEngine.vcxproj.FileListAbsolute.txt
*.ipdb
*.idb
.
/Release/assets
/x64/assets

Release/PhloxEngine.vcxproj.FileListAbsolute.txt
/Debug/assets
*.ilk
/x64
/Debug
/src/funkin
/src/antilogic
/bin
/Moon4K/Debug/microsoft
*.o
/build
*.elf
*.nro
*.nacp
/VisualC/.vs
VisualC/Moon4K.vcxproj.user
/VisualC/x64/Debug/assets
/VisualC/Debug/assets
/VisualC/Release/assets
/VisualC/x64/Release/assets
/Makefiles/build
/logs
Makefiles/antiLogic-HE/AntiLogic \[01ee18c0f6dd0000\].nsp
/Makefiles/antiLogic-HE
Makefiles/antiLogic-HE_EXTRACT_TO_SWITCH_FOLDER.zip
/platforms/Makefiles/antiLogic-HE
platforms/Makefiles/antiLogic-HE_EXTRACT_TO_SWITCH_FOLDER.zip
/platforms/Makefiles/build
/platforms/VisualC/.vs/Moon4K
/platforms/VisualC/Debug/assets
platforms/VisualC/Moon4K.vcxproj.user
/platforms/VisualC/Release/assets
/platforms/VisualC/x64/Debug/assets
/platforms/VisualC/x64/Release/assets
/platforms/VisualC/x64/Release
/platforms/VisualC/x64/Debug
/platforms/VisualC/Release
/platforms/VisualC/Debug
/.vscode
platforms/VisualC/Moon4K/x64/Release/Moon4K.vcxproj.FileListAbsolute.txt
platforms/VisualC/Moon4K/x64/Debug/Moon4K.vcxproj.FileListAbsolute.txt
/src/flappyHE
/Moon4K-main
/IGNORE_ME
/platforms/VisualC/assets
/platforms/VisualC/.vs
/platforms/VisualC/x64
/AverageGE-fnf-port-redone
/platforms/VisualC/Funkin-HE/x64
