
*.obj
*.exe
/obj
*.log
*.tlog
*.pdb
*.recipe
*.iobj
*.ipdb
*.idb
*.ilk
/bin
*.o
/build
*.elf
*.nro
*.nacp
/VisualC/.vs
/VisualC/x64/Debug/assets
/VisualC/x64/Release/assets
/platforms/Makefiles/build
/platforms/VisualC/Release/assets
/platforms/VisualC/x64/Debug/assets
/platforms/VisualC/x64/Release/assets
/platforms/VisualC/x64/Release
/platforms/VisualC/x64/Debug
/platforms/VisualC/Release
/platforms/VisualC/Debug
/IGNORE_ME
/platforms/VisualC/assets
/platforms/VisualC/.vs
/platforms/VisualC/x64
/platforms/VisualC/Funkin-HE/x64